@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');


body {
  background-color: #46902C;
  animation: colorchange 15s linear 4s 1 normal forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes colorchange {
  from {background-color: #46902C;}
  to {background-color: #265615;}
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 630px; */
}

.scrollable {
    height: 50vh;
    overflow-y: auto;
}

p {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.5vw;
  overflow-x: hidden;
  overflow-x: hidden;
  text-overflow: clip;
}

.top {
  color: #265615;
  z-index; 1;
  width: 65vw;
  grid-column: 1;
  grid-row: 1;
  margin-top: -7vw;
  text-align: left;
  overflow-y: hidden;
}

.bot {
  color: #1A3E0D;
  z-index: 2;
  width: 70vw;
  margin-left: 30vw;
  margin-top: -28vw;
  text-align: right;
  grid-column: 1;
  grid-row: 2;
  overflow-x: hidden;
  overflow-y: hidden;
  animation:text-focus-in 20s ease-in 0s forwards;
}

a {
  font-size: 10rem;
  text-decoration: none;
  margin-top: 9;
  margin-left: 16vw;
  grid-column: 1;
  grid-row: 1;
  color: #1A3E0D;
  animation:text-focus-in 20s ease-in 0s forwards;
}

@keyframes text-focus-in{0%{filter:blur(3px);opacity:0}100%{filter:blur(0);opacity:1}}

/* .fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
} */
