@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

body {
  background-color: #5CAF3F;
  animation: colorchange 6s linear 2s 1 normal forwards;
}

@keyframes colorchange {
  from {background-color: #5CAF3F;}
  to {background-color: #46902C;}
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 630px;
}

.text {
  color: #46902C;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.5rem;
  text-align: center;
  width: 65vw;
}

/* .move {
  animation: blink-animation 2s steps(7, start) infinite;
  -webkit-animation: blink-animation 2s steps(7, start) infinite;
}

@keyframes blink-animation {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink-animation {
  50% {
    opacity: 0.0;
  }
} */

#mydiv {
position: absolute;
z-index: 9;
text-align: center;
top: -2rem;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  color: #46902C;
  background-color: #5CAF3F;
  width: 65vw;
  font-family: 'IBM Plex Mono', monospace;
  animation: colorchange 6s linear 2s 1 normal forwards;
}

a {
  color: white;
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
  width: 10px;
  height: 10px;
  animation: blink-animation 3s steps(15, start) infinite;
  -webkit-animation: blink-animation 3s steps(15, start) infinite;
}

@keyframes blink-animation {
  50% {
    opacity: 0.1;
  }
}
@-webkit-keyframes blink-animation {
  50% {
    opacity: 0.1;
  }
}

@media only screen and (max-width: 768px) {
  .text {
    font-size: 1rem;
  }

  a {
    font-size: 1rem;
  }

  #mydivheader {
    margin-top: 3rem;
  }
}

 /* #draggable {
  width: 150px; height: 150px; padding: 0.5em;
} */
