@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

body {
  background-color: #5CAF3F;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 630px;
}

.text {
  color: #E2FAD9;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1vw;
  text-align: center;
  width: 65vw;
}

/* .move {
  animation: blink-animation 2s steps(7, start) infinite;
  -webkit-animation: blink-animation 2s steps(7, start) infinite;
}

@keyframes blink-animation {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink-animation {
  50% {
    opacity: 0.0;
  }
} */

#mydiv {
position: absolute;
z-index: 9;
left: 35vw;
text-align: center;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  color: #E2FAD9;
  font-family: 'IBM Plex Mono', monospace;
  /* font-size:1.5vw; */
}

a {
  background-color: #49952F;
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
  width: 10px;
  height: 10px;
}

 /* #draggable {
  width: 150px; height: 150px; padding: 0.5em;
} */
