@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

body {
  background-color: #89D96C;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 630px;
}

p {
  color: #43852B;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.5vw;
  text-align: center;
  text-align: justify;
  text-justify: inter-word;
  width: 50vw;
}

a {
  color: #43852B;
  text-decoration: none;
  animation: blink-animation 1s steps(7, start) infinite;
  -webkit-animation: blink-animation 1s steps(7, start) infinite;
}
}

@keyframes blink-animation {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink-animation {
  50% {
    opacity: 0.0;
  }
}

.scrollable {
    height: 20vh;
    overflow-y: auto;
}
